.login-page {
  min-height: 100dvh;
overflow-y:auto;
  display: flex;

  align-items: center;

  justify-content: center;

  background:
    linear-gradient(
      rgba(7, 16, 24, 0.611),
      rgba(7, 16, 24, 0.772)
    ),
    url("/src/assets/logo7.png");

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  padding: 24px;
}

.login-card {
  width: 100%;

  max-width: 420px;

  background: rgba(108, 108, 108, 0.116);

  border: 1px solid rgba(255,255,255,0.08);

  backdrop-filter: bg-lblur(18px);

  border-radius: 28px;

  padding: 40px;

  display: flex;

  flex-direction: column;

  gap: 8px;

  box-shadow:
    0 20px 60px rgba(0,0,0,0.35);
}

.login-card h1 {
  font-size: 25px;
  color: white;

  font-weight: 700;
}

.login-card p {
  color: rgba(255,255,255,0.6);
  margin-bottom: 6px;
}

.login-card input {
  height: 35px;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.08);
  background: rgba(0, 0, 0, 0.261);
  color: rgb(255, 255, 255);
  padding: 0 16px;
  outline: none;
}

.login-card button {
  height: 35px;
  border: none;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 40px;
}

.login-card button:hover {
  transform: translateY(-1px);

  opacity: 0.92;
}

.login-error {
  background: rgba(255,0,0,0.12);

  border: 1px solid rgba(255,0,0,0.2);

  color: #ffb4b4;

  padding: 12px;

  border-radius: 12px;

  font-size: 14px;
}

.forgot-password {
  color: #f63b3b;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s ease;
}

.forgot-password:hover {
  color: #fa6060;
  text-decoration: underline;
}